    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact</h2>
                <p> - 若想問任何課程 or 作業相關問題，請寄信到助教信箱為主，感謝！</br>
                - Please send email to our TA email if you have any questions, Thank you!
                </p>
                <p>
                助教信箱: <a href="mailto:{{ site.TAemail }}">{{ site.TAemail }}</a></br>
                {% for TA in site.TAs %}
                    助教 - {{TA.name}}: <a href="mailto:{{ TA.email }}">{{ TA.email }}</a></br>
                    
                {% endfor %}
                老師信箱: <a href="mailto:{{ site.TeacherEmail }}">{{ site.TeacherEmail }}</a></br>
                </p>
                <ul class="list-inline banner-network-buttons">
                    {% for network in site.networks %}
                    <li>
                        <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.kind }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>