    <!-- Download Section -->
    <section id="homework" class="content-section text-center">
        <div class="homework-section">
            
                <div class="col-sm-8 col-sm-offset-2">
                    <h2>Homework</h2>
                    </br>
                    </br>
                    </br>
                    <p class="text-left"> - You should finish your homework on your own. </p>
                    <p class="text-left"> - Do NOT share your answer with any other else. </p>

                    <h3>For Kaggle: <h3>
                    <p class="text-left"> - You should NOT modify your prediction files manually. </p>
                    <p class="text-left"> - Do NOT use any approaches to submit your results more than 5 times a day on Kaggle. </p>
                    <p class="text-left"> - Do NOT search or use additional data or pre-trained models.  </p>
                    <p class="text-left"> - Prof. Wu & TAs preserve the rights to change the rules & grades.  </p>

                    <ul class="list-group">
                        {% for homework in site.homeworks %}
                        <li class="list-group-item list-group-item-info"> 
                            <h3 class="text-center"> {{homework.title}} </h3> 
                            <hr/>
                            <p class="text-center">
                                <a href="{{ homework.video }}" class="btn btn-default btn-lg"><i class="fa fa-youtube-play"></i>
                                    <span class="homework-video"> Video</span>
                                </a>
                                <a href="{{ homework.slide }}" class="btn btn-default btn-lg"><i class="fa fa-file-pdf-o"></i>
                                    <span class="homework-slide"> Slide</span>
                                </a>
                                <a href="{{ homework.kaggle }}" class="btn btn-default btn-lg"><i class="fa fa-tasks"></i>
                                    <span class="homework-kaggle"> Kaggle</span>
                                </a>
                                <a href="{{ homework.colab }}" class="btn btn-default btn-lg"><i class="fa fa-cloud"></i>
                                    <span class="homework-colab"> Code</span>
                                </a>
                            </p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

        </div>
    </section>