    <!-- Download Section -->
    <section id="homework" class="content-section text-center">
        <div class="homework-section">
            
                <div class="col-sm-6 col-sm-offset-3">
                    <h2>Homework</h2>
                    </br>
                    </br>
                    </br>
                    <p> - 本學期作業共有 5 份，以及一份期末專題。</br> 
                        - We have 5 homework and 1 final project in this course.
                    </p>

                    <ul class="list-group">
                        {% for homework in site.homeworks %}
                        <li class="list-group-item list-group-item-info"> 
                            <h3 class="text-center"> {{homework.title}} </h3> 
                            <hr/>
                            <p class="text-center">
                                <a href="{{ homework.video }}" class="btn btn-default btn-lg"><i class="fa fa-youtube-play"></i>
                                    <span class="homework-video"> Video</span>
                                </a>
                                <a href="{{ homework.slide }}" class="btn btn-default btn-lg"><i class="fa fa-file-pdf-o"></i>
                                    <span class="homework-slide"> Slide</span>
                                </a>
                                <a href="{{ homework.kaggle }}" class="btn btn-default btn-lg"><i class="fa fa-tasks"></i>
                                    <span class="homework-kaggle"> Kaggle</span>
                                </a>
                                <a href="{{ homework.colab }}" class="btn btn-default btn-lg"><i class="fa fa-cloud"></i>
                                    <span class="homework-colab"> Code</span>
                                </a>
                            </p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

        </div>
    </section>