    <!-- About Section -->
    <section id="syllabus" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Syllabus</h2>
            </div>
<!-- Week Slides -->
    <div class="container py-4">
      <div class="row">
        <div class="col-sm-12 offset-md-2 col-md-8">
          <div class="card">
            <div class="card-header">
              <i class="fab fa-slideshare"></i>
              <b> 課程講義 </b>
            </div>
            <ul class="list-group">
              <li class="list-group-item" id="week01">
                <div class="w-100 justify-content-between">
                  <h5 class="text-left"> Weeok 01 </h5>
                  <hr />
                  <!-- <div class="collapse" id="hw1">
                    <p class="text-justify"> PM 2.5 預測 - Coming Soon </p>
                  </div> -->
                  <p class="text-right">
                    <!-- <button class="btn btn-outline-info btn-sm" data-toggle="collapse" data-target="#hw1">
                      <i class="fas fa-info-circle"></i>
                       INFO
                    </button> -->
                    <a href="./slides/ML syllabus (109-1).pdf">
                      <button class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-file-pdf"></i>
                         Syllabus
                      </button>
                    </a>
                    <a href="./slides/W1a_Introduction.pdf">
                      <button class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-file-pdf"></i>
                         Introduction
                      </button>
                    </a>
                    <a href="./slides/W1b_Regression.pdf">
                      <button class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-file-pdf"></i>
                         Regression
                      </button>
                    </a>
                  </p>
                </div>
              </li>
              <li class="list-group-item" id="week02">
                <div class="w-100 justify-content-between">
                  <h5 class="text-left"> Weeok 02 </h5>
                  <hr />
                  <!-- <div class="collapse" id="hw1">
                    <p class="text-justify"> PM 2.5 預測 - Coming Soon </p>
                  </div> -->
                  <p class="text-right">
                    <!-- <button class="btn btn-outline-info btn-sm" data-toggle="collapse" data-target="#hw1">
                      <i class="fas fa-info-circle"></i>
                       INFO
                    </button> -->
                    <a href="./slides/W2a_Bias and Variance.pdf">
                      <button class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-file-pdf"></i>
                         Bias & Variance
                      </button>
                    </a>
                    <a href="./slides/W2b_Classification (v2).pdf">
                      <button class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-file-pdf"></i>
                         Classification
                      </button>
                    </a>
                    <a href="./slides/W2c_Logistic Regression (v4).pdf">
                      <button class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-file-pdf"></i>
                         Logistic Regression
                      </button>
                    </a>
                  </p>
                </div>
              </li>
              <li class="list-group-item" id="week03">
                <div class="w-100 justify-content-between">
                  <h5 class="text-left"> Weeok 03 </h5>
                  <hr />
                  <p class="text-right">
                    <a href="./slides/W3a_DL_introduction.pdf">
                      <button class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-file-pdf"></i>
                         DL Introduction
                      </button>
                    </a>
                    <a href="./slides/W3b_Gradient Descent.pdf">
                      <button class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-file-pdf"></i>
                         Gradient Descent
                      </button>
                    </a>
                    <a href="./slides/W3c_BP (v2).pdf">
                      <button class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-file-pdf"></i>
                         Back Propagation
                      </button>
                    </a>
                    <a href="./slides/W3e_DNN tip.pdf">
                      <button class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-file-pdf"></i>
                         DNN Tip
                      </button>
                    </a>
                  </p>
                </div>
              </li>
              <li class="list-group-item" id="week04">
                <div class="w-100 justify-content-between">
                  <h5 class="text-left"> Weeok 04 </h5>
                  <hr />
                  <p class="text-right">
                    <a href="./slides/W4a_CNN.pdf">
                      <button class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-file-pdf"></i>
                         CNN
                      </button>
                    </a>
                  </p>
                </div>
              </li>
              <li class="list-group-item" id="week05">
                <div class="w-100 justify-content-between">
                  <h5 class="text-left"> Weeok 05 </h5>
                  <hr />
                  <p class="text-right">
                    <a href="./slides/W5a_PCA.pdf">
                      <button class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-file-pdf"></i>
                         PCA
                      </button>
                    </a>
                  </p>
                </div>
              </li>
              <li class="list-group-item" id="week06">
                <div class="w-100 justify-content-between">
                  <h5 class="text-left"> Weeok 06 </h5>
                  <hr />
                  <p class="text-right">
                    <a href="./slides/W6a_auto.pdf">
                      <button class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-file-pdf"></i>
                         Auto Encoder
                      </button>
                    </a>
                    <a href="./slides/W6b_TSNE.pdf">
                      <button class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-file-pdf"></i>
                         TSNE
                      </button>
                    </a>
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Announcements -->
    <div class="container py-4">
      <div class="row">
        <div class="col-sm-12 offset-md-2 col-md-8">
          <div class="card">
            <div class="card-header">
              <i class="fas fa-bell"></i>
              <b> 作業資訊 </b>
            </div>
            <!-- <ul class="list-group">
              <li class="list-group-item">
                <div class="w-100 justify-content-between" id="navhw0">
                  <h5 class="text-left"> 【HW0】Python 101 <span class="badge badge-danger">  New </span></h5>
                  <hr />
                  <div class="collapse" id="hw0">
                    <p class="text-justify"> Python Guide & Env Setting. </p>
                  </div>
                  <p class="text-right">
                    <button class="btn btn-outline-info btn-sm" data-toggle="collapse" data-target="#hw0">
                      <i class="fas fa-info-circle"></i>
                       INFO
                    </button>
                    <a href="https://ieeexplore.ieee.org/document/8963921">
                      <button class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-file-pdf"></i>
                         Slide
                      </button>
                    </a>
                  </p>
                </div>
              </li>
            </ul> -->
            <ul class="list-group">
              <li class="list-group-item">
                <div class="w-100 justify-content-between" id="navhw1">
                  <h5 class="text-left"> 【HW1】Linear Regression </h5>
                  <hr />
                  <div class="collapse" id="hw1">
                    <p class="text-justify"> PM 2.5 預測 </p>
                  </div>
                  <p class="text-right">
                    <button class="btn btn-outline-info btn-sm" data-toggle="collapse" data-target="#hw1">
                      <i class="fas fa-info-circle"></i>
                       INFO
                    </button>
                    <!-- Google Sheets -->
                    <a href="https://drive.google.com/file/d/1Wa3pq_FZfUFa0pP3kt3UQe3gLExcOmSb/view?usp=sharing">
                      <button class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-file-pdf"></i>
                         Slide
                      </button>
                    </a>
                    <!-- Kaggle -->
                    <a href="https://www.kaggle.com/t/056894695ae045cf82e51536a48ada67">
                      <button class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-file-pdf"></i>
                         Kaggle
                      </button>
                    </a>
                    <!-- Report -->
                    <a href="https://drive.google.com/file/d/1m0LRSjlRlnuFimGVJW6yX1dSwxwF-A0C/view?usp=sharing">
                      <button class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-file-pdf"></i>
                         Report
                      </button>
                    </a>
                    <!-- HackMD -->
                    <a href="https://hackmd.io/@ASZWRvp7SjOEdYLqF3JYdg/Bk6mgvOHv">
                      <button class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-file-pdf"></i>
                         Math
                      </button>
                    </a>
                    <!-- ipyth on Github -->
                    <a href="https://github.com/mlta2020fall/ml-Web/blob/master/srcs/hw1/hw1-sampleCode.ipynb">
                      <button class="btn btn-outline-secondary btn-sm">
                        <i class="fab fa-github"></i>
                         CODE
                      </button>
                    </a>
                  </p>
                </div>
              </li>
              <li class="list-group-item">
                <div class="w-100 justify-content-between" id="navhw2">
                  <h5 class="text-left"> 【HW2】Logistic Regression </h5>
                  <hr />
                  <div class="collapse" id="hw2">
                    <p class="text-justify"> Income Prediction </p>
                  </div>
                  <p class="text-right">
                    <button class="btn btn-outline-info btn-sm" data-toggle="collapse" data-target="#hw2">
                      <i class="fas fa-info-circle"></i>
                       INFO
                    </button>
                    <!-- Google Sheets -->
                    <a href="https://drive.google.com/file/d/1caYqRXXumREoJN2o6009oRHmNZc_2MBT/view?usp=sharing">
                      <button class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-file-pdf"></i>
                         Slide
                      </button>
                    </a>
                    <!-- Kaggle -->
                    <a href="https://www.kaggle.com/t/a1c06e525181466490d3ead92bf75292">
                      <button class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-file-pdf"></i>
                         Kaggle
                      </button>
                    </a>
                    <!-- Report -->
                    <a href="https://drive.google.com/file/d/1MaQFfxpnbDCfEkF1iij2aVJIYZT-GowJ/view?usp=sharing">
                      <button class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-file-pdf"></i>
                         Report
                      </button>
                    </a>
                    <!-- HackMD -->
                    <a href="https://hackmd.io/@ASZWRvp7SjOEdYLqF3JYdg/H1T98sSvD">
                      <button class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-file-pdf"></i>
                         Math
                      </button>
                    </a>
                    <!-- ipyth on Github -->
                    <a href="https://github.com/mlta2020fall/ml-Web/blob/master/srcs/hw2/hw2-sampleCode.ipynb">
                      <button class="btn btn-outline-secondary btn-sm">
                        <i class="fab fa-github"></i>
                         CODE
                      </button>
                    </a>
                  </p>
                </div>
              </li>
              <li class="list-group-item">
                <div class="w-100 justify-content-between" id="navhw3">
                  <h5 class="text-left"> 【HW3】CNN </h5>
                  <hr />
                  <div class="collapse" id="hw3">
                    <p class="text-justify"> Face Expression Prediction </p>
                  </div>
                  <p class="text-right">
                    <button class="btn btn-outline-info btn-sm" data-toggle="collapse" data-target="#hw3">
                      <i class="fas fa-info-circle"></i>
                       INFO
                    </button>
                    <!-- Google Sheets -->
                    <a href="https://drive.google.com/file/d/1xDYOyxn17WcW36fQGNLtyEKi5FtyqJ2e/view?usp=sharing">
                      <button class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-file-pdf"></i>
                         Slide
                      </button>
                    </a>
                    <!-- Kaggle -->
                    <a href="https://www.kaggle.com/t/5ad2191ed8634eacbb45fa4b7626c981">
                      <button class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-file-pdf"></i>
                         Kaggle
                      </button>
                    </a>
                    <!-- Report -->
                    <a href="https://drive.google.com/file/d/18Bhem8b2KMObzDgdrz7th4iCY170R-S_/view?usp=sharing">
                      <button class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-file-pdf"></i>
                         Report
                      </button>
                    </a>
                    <!-- HackMD -->
                    <a href="https://hackmd.io/@ASZWRvp7SjOEdYLqF3JYdg/HJMbtPOdD?fbclid=IwAR0uf_yc4tQ6_4Qpb4Nr-RtCNs0tcGD3dSTakFLiXLwgeSJOYKiDVCX9C-o">
                      <button class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-file-pdf"></i>
                         Math
                      </button>
                    </a>
                    <!-- ipyth on Github -->
                    <a href="https://github.com/mlta2020fall/ml-Web/blob/master/srcs/hw3/hw3-sampleCode.ipynb">
                      <button class="btn btn-outline-secondary btn-sm">
                        <i class="fab fa-github"></i>
                         CODE
                      </button>
                    </a>
                  </p>
                </div>
              </li>
              <li class="list-group-item">
                <div class="w-100 justify-content-between" id="navhw3">
                  <h5 class="text-left"> 【HW4】 RNN </h5>
                  <hr />
                  <div class="collapse" id="hw4">
                    <p class="text-justify">Text Sentiment Classification </p>
                  </div>
                  <p class="text-right">
                    <button class="btn btn-outline-info btn-sm" data-toggle="collapse" data-target="#hw4">
                      <i class="fas fa-info-circle"></i>
                       INFO
                    </button>
                    <!-- Google Sheets -->
                    <a href="https://docs.google.com/presentation/d/1lcYelqjpeT4miFoDLZPCFkdQKZ7YGTeh89Cvs6lrqqg/edit?usp=sharing">
                      <button class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-file-pdf"></i>
                         Slide
                      </button>
                    </a>
                    <!-- Kaggle -->
                    <a href="https://www.kaggle.com/c/ml2020fall-hw4-3">
                      <button class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-file-pdf"></i>
                         Kaggle
                      </button>
                    </a>
                    <!-- Report -->
                    <a href="https://reurl.cc/Q3Z9gp">
                      <button class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-file-pdf"></i>
                         Report
                      </button>
                    </a>
                    <!-- HackMD -->
                    <a href="https://drive.google.com/file/d/1fEu87banB4s6Yjku1dA5sMcnwCugEPBF/view?usp=sharing">
                      <button class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-file-pdf"></i>
                         Math
                      </button>
                    </a>
                    <!-- ipyth on Github -->
                    <a href="https://reurl.cc/v1Kyp1">
                      <button class="btn btn-outline-secondary btn-sm">
                        <i class="fab fa-github"></i>
                         CODE
                      </button>
                    </a>
                  </p>
                </div>
              </li>
               <li class="list-group-item">
                <div class="w-100 justify-content-between" id="navhw3">
                  <h5 class="text-left"> 【HW5】 Image clustering </h5>
                  <hr />
                  <div class="collapse" id="hw5">
                    <p class="text-justify"> Image clustering </p>
                  </div>
                  <p class="text-right">
                    <button class="btn btn-outline-info btn-sm" data-toggle="collapse" data-target="#hw5">
                      <i class="fas fa-info-circle"></i>
                       INFO
                    </button>
                    <!-- Google Sheets -->
                    <a href="https://docs.google.com/presentation/d/1pXmGbbkaAt12tfBD540_trlrcFFMQXahHcE67ItUCEY/edit?usp=sharing">
                      <button class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-file-pdf"></i>
                         Slide
                      </button>
                    </a>
                    <!-- Kaggle -->
                    <a href="https://www.kaggle.com/c/ml2020fall-hw5-1/overview">
                      <button class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-file-pdf"></i>
                         Kaggle
                      </button>
                    </a>
                    <!-- Report -->
                    <a href="https://docs.google.com/document/d/1mts0RLtxMRiKscXSE0tFC_A3GOFcCEvn0yZ_mtO5eIU/edit?usp=sharing">
                      <button class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-file-pdf"></i>
                         Report
                      </button>
                    </a>
                    <!-- HackMD -->
                    <a href="https://drive.google.com/file/d/1-rmlFaIj_6hEfJGOHLKUxInoKMsKLHLf/view">
                      <button class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-file-pdf"></i>
                         Math
                      </button>
                    </a>
                    <!-- ipyth on Github -->
                    <a href="https://classroom.github.com/a/d0bIiREB">
                      <button class="btn btn-outline-secondary btn-sm">
                        <i class="fab fa-github"></i>
                         CODE
                      </button>
                    </a>
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
        </div>
    </section>