    <!-- About Section -->
    <section id="syllabus" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Syllabus</h2>
            </div>
<!-- Week Slides -->
    <div class="container py-4">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-8">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-list" aria-hidden="true"></i>
              <p> 課程講義 </p>
            </div>
            <ul class="list-group">
              <li class="list-group-item" id="week01">
                <div class="w-100 justify-content-between">
                  <h5 class="text-left"> Weeok 01 </h5>
                  <hr />
                  <!-- <div class="collapse" id="hw1">
                    <p class="text-justify"> PM 2.5 預測 - Coming Soon </p>
                  </div> -->
                  <p class="text-right">
                    <!-- <button class="btn btn-outline-info btn-sm" data-toggle="collapse" data-target="#hw1">
                      <i class="fas fa-info-circle"></i>
                       INFO
                    </button> -->
                    <a href="./slides/ML syllabus (109-1).pdf">
                      <button class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-file-pdf"></i>
                         Syllabus
                      </button>
                    </a>
                    <a href="./slides/W1a_Introduction.pdf">
                      <button class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-file-pdf"></i>
                         Introduction
                      </button>
                    </a>
                    <a href="./slides/W1b_Regression.pdf">
                      <button class="btn btn-outline-secondary btn-sm">
                        <i class="far fa-file-pdf"></i>
                         Regression
                      </button>
                    </a>
                  </p>
                </div>
              </li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>

        </div>
    </section>