    <!-- Download Section -->
    <section id="homework" class="content-section text-center">
        <div class="homework-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Homework</h2>
                    <p>待補.</p>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Homework Page</a>
                </div>
            </div>
        </div>
    </section>