<!DOCTYPE html>
<html>
    <meta property="og:image" content="https://ntueemlta2022.github.io/img/thumbnail.jpg" />
    <meta property="og:description" content="{{ site.title }}" />
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    {% include header.html %}
    {% include syllabus.html %}
    {% include homework.html %}
    {% include contact.html %}
    {% include email.html %}
    {% include map.html %}
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>